<!-- CoffeeNet header -->
<link rel="stylesheet" type="text/css" href="/webjars/@project.artifactId@/@project.version@/navigation.css"/>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#coffeenet-navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="logo" href="">Synyx Logo</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="coffeenet-navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">CoffeeNet <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {{#apps}}
                        <li><a href="{{url}}">{{name}}</a></li>
                        {{/apps}}
                    </ul>
                </li>
            </ul>

            <form class="navbar-form navbar-text navbar-right" action="/logout" method="post">
                <button type="submit" id="logout-link">
                    <span class="glyphicon glyphicon-log-out"></span>
                    Logout
                </button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li class="navbar-text hidden-xs">
                    <span>{{username}}</span>
                </li>
            </ul>
        </div>
    </div>
</nav>