.coffeenet-header {
    min-height: 70px;
}

#logo {
    color: #1b2a05;
    display: block;
    float: left;
    padding: 20px 0;
    height: 50px;
    width: 85px;
    line-height: 40px;
    text-decoration: none;
    font-size: 20px;
    margin-right: 70px;
    background: url(/webjars/@project.artifactId@/@project.version@/css/synyx-logo-nav.png) no-repeat center center;
    background-size: 75px auto;
    overflow: hidden;
    text-indent: -9999px;
}